server:
  port: 8080

spring:
  application:
    name: gateway-server
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
      fail-fast: false
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      # Явные маршруты (перенесены из Config Server)
      routes:
        - id: comment_service_route
          uri: lb://comment-service
          predicates:
            - Path=/admin/comments, /admin/comments/**,
              /users/{userId}/comments/**,
              /users/{userId}/events/{eventId}/comments/**,
              /events/{eventId}/comments/**,
              /events/{eventId}/comments/{commentId}

        # Request Service
        - id: request_service_route
          uri: lb://request-service
          predicates:
            - Path=/users/{userId}/events/{eventId}/requests/**,
              /users/{userId}/requests/**

        # Event Service
        - id: event_service_route
          uri: lb://event-service
          predicates:
            - Path=/admin/categories/**, /categories/**,
              /admin/compilations/**, /compilations/**,
              /admin/events/**, /users/{userId}/events/**,
              /events/**

        # User Service
        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 10