server:
  port: 8080

spring:
  application:
    name: gateway-server
  config:
    import: "optional:configserver:"  # Добавлено для отключения проверки
  cloud:
    config:
      enabled: false  # Явно отключаем Config Server
      import-check:
        enabled: false  # Отключаем проверку импорта
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: main-service
          uri: lb://MAIN-SERVICE
          predicates:
            - Path=/admin/**,/users/**,/events/**,/categories/**,/compilations/**,/comments/**
          filters:
            - StripPrefix=0
        - id: stats-service
          uri: lb://STATS-SERVER
          predicates:
            - Path=/stats/**,/hit/**
          filters:
            - StripPrefix=0
      httpclient:
        connect-timeout: 5000
        response-timeout: 10000

eureka:
  client:
    enabled: true
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,routes
      base-path: /actuator
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: when-authorized
      probes:
        enabled: false

logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: INFO
    ru.practicum: INFO
    org.springframework.cloud.loadbalancer: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-40.40logger{39} : %msg%n"